body{
    margin: 0;
    background-color: #a4b5ccaf;
}

header{
    background-color: #516c92af;
    padding: 30px;
    text-align: center;
    font-size: 15px;
    color: #ffffff; 
}

header a{
    color: #ffffff;
    text-decoration: none;
}

nav{
    overflow: hidden;
    background-color: #5B6A84;
    position: sticky;
    top: 0;
    z-index: 100;
    display: flex;
    justify-content: center; 
    align-items: center; 
}

nav a{
    display: flex; 
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    flex-wrap: wrap; 
}

nav a:hover{
    background-color: #6e819c;
    color:#ffffff;
}

.content{
    display: flex;
    justify-content: center;
}

.content img{
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 10px;
}

.content div{
    padding: 20px;
    max-width: 60%;
    color: #244169;
}

.content div p{
    font-size: 18px;
}

.contact{
    text-align: center;
    color: #212d3e;
}

.contact p {
    text-align: center;
    margin-left: 325px; 
    margin-right: 325px; 
    color: #244169;
    font-size: 18px;
}

.image-container {
    display: flex; /* Use flexbox for flexible layout */
    justify-content: center;
    gap: 50px;
    margin-top: 20px; 
    flex-wrap: wrap; 
    text-decoration: none;
}

.image-container img {
    width: 150px; /* Set the desired width for each image */
    height: auto; 
    border-radius: 10px;
    text-decoration: none;
}

.image-container a {
    color: #244169;
    text-align: center;
    text-decoration: none;
}




















footer {
    background-color: #516c92af;
    padding: 5px;
    text-align: center;
    font-size: 15px;
    color: #ffffff;
    margin-top: 20px
}


footer a{
    text-align: right;
    color: #ffffff;
    text-decoration: none;
    display: block; 
    font-size: 18px;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.footer-section {
    flex: 1;
    text-align: left;
    padding: 0 20px;
}


button {
    background-color: #516c92af;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
}










.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #8297b35b;
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    width: 25%;
    border-radius: 10px;
    display: block;
    margin-bottom: 10px;
}

.modal-content h2, p{
    text-align: center;
}



.close {
    color: #aaa;
    float: right;
    margin-top: 1px;
    font-size: 28px;
    font-weight: bold;
}

.close:hover {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-content form {
    text-align: center;
    
}

.modal-content form button {
    margin-top: 10px; /* Add some top margin for spacing */
}


.modal-content form input { 
    border-radius: 10px; 
    padding: 10px; 
    overflow: none;
}

.modal-content form label { 
    font-size: 18px;
}
